<nav>
    <a [ngClass]="selectedTab===1 ? 'selected-tab': ''" (click)="getActual()">Actual</a>
    <a [ngClass]="selectedTab===2 ? 'selected-tab': ''" (click)="getHistorical()">Historical</a>
</nav>
<ng-container *ngIf="actualData && selectedTab===1">
    <div class="forecast-header-row">
        <span class="col-sm-3 col-xs-3">Time</span>
        <span class="col-sm-2 col-xs-2">Weather</span>
        <span class="col-sm-2 col-xs-2">Temperature</span>
        <span class="col-sm-3 col-xs-3">Surface pressure</span>
        <span class="col-sm-2 col-xs-2">Relative humidity</span>
    </div>

    <div class="scrollable-table">
        <div *ngFor="let item of actualData.hourly.time; let i = index" class="forecast-row">
            <span class="col-sm-3 col-xs-3">{{actualData.hourly.time[i]}}</span>
            <span class="col-sm-2 col-xs-2">{{getWeather(actualData.hourly.weathercode[i])}}</span>
            <span class="col-sm-2 col-xs-2">{{actualData.hourly.temperature_2m[i]}} °C</span>
            <span class="col-sm-3 col-xs-3">{{actualData.hourly.surface_pressure[i]}} hPa</span>
            <span class="col-sm-2 col-xs-2">{{actualData.hourly.relativehumidity_2m[i]}} %</span>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="historicalData && selectedTab===2">
    <div class="forecast-header-row">
        <span class="col-sm-3 col-xs-3">Time</span>
        <span class="col-sm-2 col-xs-2">Rain</span>
        <span class="col-sm-2 col-xs-2">Temperature</span>
        <span class="col-sm-3 col-xs-3">Surface pressure</span>
        <span class="col-sm-2 col-xs-2">Relative humidity</span>
    </div>
    <div *ngFor="let item of historicalData.hourly.time; let i = index" class="forecast-row">
        <span class="col-sm-3 col-xs-3">{{historicalData.hourly.time[i]}}</span>
        <span class="col-sm-2 col-xs-2">{{historicalData.hourly.rain[i]}} mm</span>
        <span class="col-sm-2 col-xs-2">{{historicalData.hourly.temperature_2m[i]}} °C</span>
        <span class="col-sm-3 col-xs-3">{{historicalData.hourly.surface_pressure[i]}} hPa</span>
        <span class="col-sm-2 col-xs-2">{{historicalData.hourly.relativehumidity_2m[i]}} %</span>
    </div>
</ng-container>